

@import '../../../_common/styles/common.scss';



.frame1 {
	// opacity: 1;
}


.masker{
	clip: rect(0px, 600px, 500px, 0px);
}


#banner{
	font-size: 20px;
	color: #333;
	width: 300px;
	height: 250px;
}

.border{
	width: 101px;
	height: 27px;
	@include pos(24, 202);
	border: 2px solid white;
}

.greenbar{
	width: 3px;
	height: 19px;
	background-color: #66cc00;
	@include pos(265, 151);

}

.t3a, .t3b{
	@include pos-scale(-4, -15, .5);
}

.hero{
	@include pos-scale(-171, -153, 1.1);

	// @include pos-scale(0, 0, .5);
	// opacity: .5;
}

.cover{
	@include pos(0, 0);
	width: 100%;
	height: 100%;
	background-color: #76507e;
	opacity: .25;
}