<div id="banner">
	<div class="outline"></div>
	<div class="frame frame1">
		

		<!-- <img class="retina" src="./images/f4.png" alt="" inline> -->
		<img class="hero" src="./images/hero.jpg" alt="" inline>		
		<!-- <div class="cover static"></div> -->
		<!-- <div class="cover rollover"></div> -->
		<img class="retina logos" src="./images/logos.png" alt="" inline>
		

		<img class="retina t1" src="./images/t1.png" alt="" inline>
		
		<img class="retina  t2 t2a" src="./images/t2a.png" alt="" inline>
		<img class="retina  t2 t2b" src="./images/t2b.png" alt="" inline>
		
		<img class="retina  ion" src="./images/ion.png" alt="" inline>
		
		
		<!-- <div class="t3 greenbar"></div> -->


	</div>
	
</div>