<div id="banner">
	<div class="outline"></div>
	<div class="frame frame1">
		

		<!-- <img class="retina" src="./images/f4.png" alt="" inline> -->
		<img class="retina hero" src="./images/hero.jpg" alt="" inline>		
		<div class="cover static"></div>
		<div class="cover rollover"></div>
		<img class="retina logos" src="./images/logos.png" alt="" inline>
		<!-- <div class="border"></div> -->

		<img class="retina t1" src="./images/t1.png" alt="" inline>
		
		<img class="retina masker t2 t2a" src="./images/t2a.png" alt="" inline>
		<img class="retina masker t2 t2b" src="./images/t2b.png" alt="" inline>
		<img class="retina masker t2 t2c" src="./images/t2c.png" alt="" inline>
		<img class="retina masker t2 t2d" src="./images/t2d.png" alt="" inline>

		<img class="retina masker t3 t3a" src="./images/t3a.png" alt="" inline>
		<img class="retina masker t3 t3b" src="./images/t3b.png" alt="" inline>
		<img class="retina masker t3 t3c" src="./images/t3c.png" alt="" inline>
		<img class="retina masker t3 t3d" src="./images/t3d.png" alt="" inline>
		<img class="retina masker t3 t3e" src="./images/t3e.png" alt="" inline>
		<img class="retina masker t3 t3f" src="./images/t3f.png" alt="" inline>

		<img class="retina t3 engine" src="./images/engine.png" alt="" inline>
		<!-- <div class="t3 greenbar"></div> -->


	</div>
	
</div>